.HomePage{
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
  background-color: rgb(113, 124, 113);  
  .weblist{
    width: 100%;
    height: 500px;
    z-index: 10;
    background-color: red !important;
    .row{
      height: auto;
      padding: 10px;
      margin-bottom: 50px;
      background-color:none;
      // background-color: #eee;

    }
    .one{
      width: 100%;
      height: auto;
      // margin: 10px;
      border-radius: 10px;
      background-color: none;
      box-shadow: 0px 0px 20px 10px  rgb(11, 61, 65) ;
      .webimg{
        width: 100%;
        height: auto;
      }
    }
  }
}
.s{
  margin-bottom: 20px;
}