
.Swiper{
  width: 100%;
  height: 300px;
  
  background-color: rgb(28, 105, 110);
  .changBorderRadius{
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;

  }
  .imgitem-enter{
    
  }
  .imgitem-enter-active{

  }
  .imgitem-exit{

  }
  .imgitem-exit-active{

  }

}