@import url(../head/index.less);
@bodywith:100%;
@bodyheight:800px;
.body{
  width: @bodywith;
  height: @bodyheight;
  margin-top: @headerheight;
  padding-top: 20px;
  .container{
    height: @bodywith;
    background-color: aquamarine;
  }
}