@import url(../head/index.less);
@bodywith:100%;
@bodyheight:auto;
.body{
  width: @bodywith;
  height: @bodyheight;
  margin-top: @headerheight;
  background-color: rgb(28, 105, 110);
  padding-top: 20px;
  .container{
    height: @bodywith;
    background-color: rgb(255, 255, 255);
  }
}