.header {
  width: 100%;
  position: fixed;
  top: 0px;
  height: 50px;
  background: burlywood;
}
.header:hover {
  background-color: #ff0000;
}
.header .container {
  height: 100%;
  background-color: aqua !important;
}
.header .header2 {
  height: 50px;
}
.header .row {
  height: 100%;
}
.header .row .Rincil {
  padding: 0;
}
.header .col-md-4 {
  height: 100%;
}
.header .col-sm-4 {
  height: 100%;
}
.header .col-xs-6 {
  height: 100%;
}
.header .head111 {
  height: 100%;
  background-color: #f7f7f7;
}
.header .head111 P {
  height: 50px;
  font-size: larger;
  padding-top: 15px;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 0;
}
.header .head111 .pernalinfo {
  height: 50px;
}
[class^="col"] {
  height: 100%;
  border: 1px solid red;
}
.middlestudy {
  list-style: none;
  text-decoration: none !important;
  background-color: #b3fd05 !important;
}
.allcate {
  background-color: none !important;
  padding-top: 7px !important;
}
.avater {
  background-color: none !important;
  padding-top: 7px !important;
}
