@x:auto;
@redx :red;
.header{
  width: 100%;
  height: @x;
  background: burlywood;
  &:hover{
    background-color: @redx;
  }
  .container{
    height: 100%;
    background-color: aqua !important;
  }
  .header2{
    height: 100%;
    background-color: bisque;
  }
  .row{
    height: 100%;
  }
  .col-md-4{
    height: 100%;
    border: 1px solid red;    
  }
}
[class^="col"]{
  height: 100%;
  border: 1px solid red;
}

