
.Comments{
  width: 100%;
  height: 300px;
  background-color: rgb(28, 105, 110);

  .container{
    height: 100%;
    background-color: palegreen !important;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    margin-bottom: 10px;
  }
}