.Comments {
  width: 100%;
  height: auto;
  background-color: #1c696e;
}
.Comments .container {
  height: 100%;
  background-color: palegreen !important;
  border-radius: 3px;
}
.Comments .CommentsState {
  width: 100%;
  height: auto !important;
  min-height: 300px;
  border-radius: 3px;
  background-color: #bbdfe4;
}
.Comments .toComments {
  padding-left: 20px;
  padding-right: 20px;
}
.Comments .toComments input {
  width: 80%;
  margin-right: 5px;
}
