.Comments {
  width: 100%;
  height: auto;
  background-color: #1c696e;
}
.Comments .container {
  height: 100%;
  background-color: #1c696e;
}
.Comments .CommentsState {
  width: 100%;
  height: auto !important;
  min-height: 300px;
  margin-top: 50px;
  border-radius: 6px 6px 0px 0px;
  background-color: #eee;
}
.Comments .toComments {
  padding-left: 20px;
  padding-right: 20px;
}
.Comments .toComments input {
  width: 80%;
  margin-right: 5px;
}
