.studyinfo {
  font-size: 20px !important;
  background-color: #ffffff !important;
  border-top-right-radius: 6px !important;
  border-top-left-radius: 6px;
}
.studyinfo .studyname {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background-color: #e08a8a !important;
}
.studyinfo .TableContents {
  padding: 0 !important;
  position: fixed;
  top: 200px;
  padding-top: 5px;
  width: 80px;
  height: 35px;
  background-color: none;
}
.studyinfo .TableContents Button {
  background-color: #f85151;
}
.studyinfo .TableContents .posiontype {
  position: relative;
  float: left;
  padding-top: 0px;
}
.studyinfo .TableContents .posiontype2 {
  position: relative;
  float: left;
  color: brown;
  padding-top: 10px;
}
.studyinfo .openTC {
  position: fixed;
  top: 100px;
  right: 0px;
  width: 30%;
  z-index: 99;
  height: 80%;
  border-radius: 6px 0 0 6px;
  background-color: #ffffff;
  padding: 2px ;
}
.studyinfo .openTC .tcitem {
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #eee;
}
.studyinfo .openTC .tcitem .tcitem2 {
  width: 100%;
  height: 100%;
  z-index: 9999;
  color: #ffffff;
  background-color: #1c696e;
}
.studyinfo .openTC .tcitem .tcitem2:focus {
  border: none !important;
  border-color: #1c696e;
  color: #ce9393;
  font-weight: bold;
  outline: none;
  display: block !important;
}
.studyinfo .openTC .tcitem .tcitemChild {
  z-index: 90;
  width: 100%;
  height: 100%;
  background-color: #eee;
}
.studyinfo .openTC2 {
  position: fixed;
  z-index: 90;
  top: 0;
  background-color: #969899;
  opacity: 0.5;
  width: 100%;
  height: 100%;
}
.showtcmovie2-enter {
  opacity: 0;
}
.showtcmovie2-enter-active {
  opacity: 0.5;
  transition: opacity 300ms;
}
.showtcmovie2-exit {
  opacity: 0.5;
}
.showtcmovie2-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}
.TCitemChildrenMovie-enter {
  -webkit-transform: scaleY(0);
}
.TCitemChildrenMovie-enter-active {
  -webkit-transform: scaleY(1);
  transition: all 400ms;
}
.TCitemChildrenMovie-exit {
  -webkit-transform: scaleY(1);
}
.TCitemChildrenMovie-exit-active {
  -webkit-transform: scaleY(0);
  transition: all 400ms;
}
.showtcmovie-enter {
  -webkit-transform: translateX(100%);
}
.showtcmovie-enter-active {
  -webkit-transform: translateX(-20%);
  transition: all 400ms;
}
.showtcmovie-exit {
  -webkit-transform: translateX(-20%);
}
.showtcmovie-exit-active {
  -webkit-transform: translateX(100%);
  transition: all 1000ms;
}
